@model RegisterUser
@{
    ViewData["title"] = "Register";
    Layout = "~/views/shared/homelayout.cshtml";
}

<div class="card mx-auto">
    <div class="card-heading mx-auto form-control text-center">
        <h2>Register</h2>
    </div>
    <div class="card-body">
        <form asp-action="Register" asp-controller="Account">
            <div class="form-group">
                <input asp-for="Username" placeholder="Username" class="form-control" />
            </div>
            <div class="form-group">
                <input type="Email" asp-for="Email" placeholder="Email" class="form-control" />
            </div>
            <div class="form-group">
                <input type="password" asp-for="Password" placeholder="Password" class="form-control" />
            </div>
            <div class="form-group">
                <input type="password" asp-for="PasswordT" placeholder="Password" class="form-control" />
            </div>
            <div class="form-group">
                <Select asp-for="Role" placeholder="Role" class="form-control">
                    <option value="1">Author</option>
                    <option value="2">Admin</option>
                </Select>
            </div>
            <div class="form-group">
                <button type="submit" class="form-control">Save</button>
            </div>
        </form>
        <div asp-validation-summary="All"></div>
    </div>
</div>